<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1 class="mt-4">Todos Clientes</h1>

    <a type="button" class="btn btn-primary"><a class="btnLink" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" routerLink="/clientesForm">Novo Cliente</a></a>
</div>
<ol class="breadcrumb mb-4" style="display: flex; justify-content: space-between; align-items: center;">
    <li class="breadcrumb-item active">Lista:</li>
    
</ol>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Cadastro</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.cpf}}</td>
                    <td>{{cliente.dataCadastro}}</td>
                    <td><a type="button" class="btn btn-warning" (click)="preparaDelecao(cliente)" 
                        data-toggle="modal" data-target="#modalDelecao">
                        Apagar 
                    </a></td>
                    <td><a type="button" class="btn btn-warning" routerLink="/clientesForm/{{cliente.id}}">
                        Editar 
                    </a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="clienteSelecionado">
                    Confirma a deleção do(a) Cliente {{ clienteSelecionado.nome }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deleteCliente()"  
                    data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>